=begin
#Go DMN Web API

#API for the Go DMN Web application.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.19.0-SNAPSHOT

=end

require 'cgi'

module Quantumdmn
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add Project Member
    # @param project_id [String] 
    # @param add_project_member_request [AddProjectMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectMember]
    def add_project_member(project_id, add_project_member_request, opts = {})
      data, _status_code, _headers = add_project_member_with_http_info(project_id, add_project_member_request, opts)
      data
    end

    # Add Project Member
    # @param project_id [String] 
    # @param add_project_member_request [AddProjectMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectMember, Integer, Hash)>] ProjectMember data, response status code and response headers
    def add_project_member_with_http_info(project_id, add_project_member_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_project_member ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.add_project_member"
      end
      # verify the required parameter 'add_project_member_request' is set
      if @api_client.config.client_side_validation && add_project_member_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_project_member_request' when calling DefaultApi.add_project_member"
      end
      # resource path
      local_var_path = '/projects/{projectID}/members'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_project_member_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectMember'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.add_project_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_project_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch Get Organization Users
    # Retrieve multiple users by their IDs. Available to all authenticated organization members.
    # @param batch_get_users_request [BatchGetUsersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<OrganizationUser>]
    def batch_get_users(batch_get_users_request, opts = {})
      data, _status_code, _headers = batch_get_users_with_http_info(batch_get_users_request, opts)
      data
    end

    # Batch Get Organization Users
    # Retrieve multiple users by their IDs. Available to all authenticated organization members.
    # @param batch_get_users_request [BatchGetUsersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<OrganizationUser>, Integer, Hash)>] Array<OrganizationUser> data, response status code and response headers
    def batch_get_users_with_http_info(batch_get_users_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.batch_get_users ...'
      end
      # verify the required parameter 'batch_get_users_request' is set
      if @api_client.config.client_side_validation && batch_get_users_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_get_users_request' when calling DefaultApi.batch_get_users"
      end
      # resource path
      local_var_path = '/users/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_get_users_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OrganizationUser>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.batch_get_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#batch_get_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Definition
    # @param project_id [String] 
    # @param create_definition_request [CreateDefinitionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Definition]
    def create_definition(project_id, create_definition_request, opts = {})
      data, _status_code, _headers = create_definition_with_http_info(project_id, create_definition_request, opts)
      data
    end

    # Create Definition
    # @param project_id [String] 
    # @param create_definition_request [CreateDefinitionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Definition, Integer, Hash)>] Definition data, response status code and response headers
    def create_definition_with_http_info(project_id, create_definition_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_definition ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.create_definition"
      end
      # verify the required parameter 'create_definition_request' is set
      if @api_client.config.client_side_validation && create_definition_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_definition_request' when calling DefaultApi.create_definition"
      end
      # resource path
      local_var_path = '/projects/{projectID}/definitions'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_definition_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Definition'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_definition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_definition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Project
    # @param create_project_request [CreateProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Project]
    def create_project(create_project_request, opts = {})
      data, _status_code, _headers = create_project_with_http_info(create_project_request, opts)
      data
    end

    # Create Project
    # @param create_project_request [CreateProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Project, Integer, Hash)>] Project data, response status code and response headers
    def create_project_with_http_info(create_project_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_project ...'
      end
      # verify the required parameter 'create_project_request' is set
      if @api_client.config.client_side_validation && create_project_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_project_request' when calling DefaultApi.create_project"
      end
      # resource path
      local_var_path = '/projects'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_project_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Project'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Subscription Upgrade Transaction
    # Creates a Paddle transaction to upgrade/downgrade the current subscription
    # @param create_subscription_upgrade_transaction_request [CreateSubscriptionUpgradeTransactionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateSubscriptionUpgradeTransaction200Response]
    def create_subscription_upgrade_transaction(create_subscription_upgrade_transaction_request, opts = {})
      data, _status_code, _headers = create_subscription_upgrade_transaction_with_http_info(create_subscription_upgrade_transaction_request, opts)
      data
    end

    # Create Subscription Upgrade Transaction
    # Creates a Paddle transaction to upgrade/downgrade the current subscription
    # @param create_subscription_upgrade_transaction_request [CreateSubscriptionUpgradeTransactionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSubscriptionUpgradeTransaction200Response, Integer, Hash)>] CreateSubscriptionUpgradeTransaction200Response data, response status code and response headers
    def create_subscription_upgrade_transaction_with_http_info(create_subscription_upgrade_transaction_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_subscription_upgrade_transaction ...'
      end
      # verify the required parameter 'create_subscription_upgrade_transaction_request' is set
      if @api_client.config.client_side_validation && create_subscription_upgrade_transaction_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_subscription_upgrade_transaction_request' when calling DefaultApi.create_subscription_upgrade_transaction"
      end
      # resource path
      local_var_path = '/billing/upgrade-transaction'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_subscription_upgrade_transaction_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSubscriptionUpgradeTransaction200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_subscription_upgrade_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_subscription_upgrade_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Definition
    # @param project_id [String] 
    # @param definition_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_definition(project_id, definition_id, opts = {})
      delete_definition_with_http_info(project_id, definition_id, opts)
      nil
    end

    # Delete Definition
    # @param project_id [String] 
    # @param definition_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_definition_with_http_info(project_id, definition_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_definition ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.delete_definition"
      end
      # verify the required parameter 'definition_id' is set
      if @api_client.config.client_side_validation && definition_id.nil?
        fail ArgumentError, "Missing the required parameter 'definition_id' when calling DefaultApi.delete_definition"
      end
      # resource path
      local_var_path = '/projects/{projectID}/definitions/{definitionID}'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s)).sub('{' + 'definitionID' + '}', CGI.escape(definition_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_definition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_definition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Project
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_project(project_id, opts = {})
      delete_project_with_http_info(project_id, opts)
      nil
    end

    # Delete Project
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_project_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_project ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.delete_project"
      end
      # resource path
      local_var_path = '/projects/{projectID}'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Evaluate definition by XML definition ID
    # Evaluate a decision using XML definition ID (uses latest version unless version parameter specified)
    # @param project_id [String] 
    # @param xml_definition_id [String] The XML definition ID from the DMN model
    # @param evaluate_stored_request [EvaluateStoredRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :version Specific version number (defaults to latest version)
    # @return [Hash<String, EvaluationResult>]
    def evaluate_by_xmlid(project_id, xml_definition_id, evaluate_stored_request, opts = {})
      data, _status_code, _headers = evaluate_by_xmlid_with_http_info(project_id, xml_definition_id, evaluate_stored_request, opts)
      data
    end

    # Evaluate definition by XML definition ID
    # Evaluate a decision using XML definition ID (uses latest version unless version parameter specified)
    # @param project_id [String] 
    # @param xml_definition_id [String] The XML definition ID from the DMN model
    # @param evaluate_stored_request [EvaluateStoredRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :version Specific version number (defaults to latest version)
    # @return [Array<(Hash<String, EvaluationResult>, Integer, Hash)>] Hash<String, EvaluationResult> data, response status code and response headers
    def evaluate_by_xmlid_with_http_info(project_id, xml_definition_id, evaluate_stored_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.evaluate_by_xmlid ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.evaluate_by_xmlid"
      end
      # verify the required parameter 'xml_definition_id' is set
      if @api_client.config.client_side_validation && xml_definition_id.nil?
        fail ArgumentError, "Missing the required parameter 'xml_definition_id' when calling DefaultApi.evaluate_by_xmlid"
      end
      # verify the required parameter 'evaluate_stored_request' is set
      if @api_client.config.client_side_validation && evaluate_stored_request.nil?
        fail ArgumentError, "Missing the required parameter 'evaluate_stored_request' when calling DefaultApi.evaluate_by_xmlid"
      end
      # resource path
      local_var_path = '/projects/{projectID}/definitions/by-xml-id/{xmlDefinitionID}/evaluate'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s)).sub('{' + 'xmlDefinitionID' + '}', CGI.escape(xml_definition_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'version'] = opts[:'version'] if !opts[:'version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(evaluate_stored_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, EvaluationResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.evaluate_by_xmlid",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#evaluate_by_xmlid\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Evaluate DMN Design
    # @param evaluate_design_request [EvaluateDesignRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, EvaluationResult>]
    def evaluate_design(evaluate_design_request, opts = {})
      data, _status_code, _headers = evaluate_design_with_http_info(evaluate_design_request, opts)
      data
    end

    # Evaluate DMN Design
    # @param evaluate_design_request [EvaluateDesignRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, EvaluationResult>, Integer, Hash)>] Hash<String, EvaluationResult> data, response status code and response headers
    def evaluate_design_with_http_info(evaluate_design_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.evaluate_design ...'
      end
      # verify the required parameter 'evaluate_design_request' is set
      if @api_client.config.client_side_validation && evaluate_design_request.nil?
        fail ArgumentError, "Missing the required parameter 'evaluate_design_request' when calling DefaultApi.evaluate_design"
      end
      # resource path
      local_var_path = '/evaluate/design'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(evaluate_design_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, EvaluationResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.evaluate_design",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#evaluate_design\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch evaluate a DMN design with multiple inputs
    # @param batch_evaluate_design_request [BatchEvaluateDesignRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchEvaluationResponse]
    def evaluate_design_batch(batch_evaluate_design_request, opts = {})
      data, _status_code, _headers = evaluate_design_batch_with_http_info(batch_evaluate_design_request, opts)
      data
    end

    # Batch evaluate a DMN design with multiple inputs
    # @param batch_evaluate_design_request [BatchEvaluateDesignRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchEvaluationResponse, Integer, Hash)>] BatchEvaluationResponse data, response status code and response headers
    def evaluate_design_batch_with_http_info(batch_evaluate_design_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.evaluate_design_batch ...'
      end
      # verify the required parameter 'batch_evaluate_design_request' is set
      if @api_client.config.client_side_validation && batch_evaluate_design_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_evaluate_design_request' when calling DefaultApi.evaluate_design_batch"
      end
      # resource path
      local_var_path = '/evaluate/design/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_evaluate_design_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchEvaluationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.evaluate_design_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#evaluate_design_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Evaluate Stored Definition
    # @param project_id [String] 
    # @param definition_id [String] 
    # @param evaluate_stored_request [EvaluateStoredRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, EvaluationResult>]
    def evaluate_stored(project_id, definition_id, evaluate_stored_request, opts = {})
      data, _status_code, _headers = evaluate_stored_with_http_info(project_id, definition_id, evaluate_stored_request, opts)
      data
    end

    # Evaluate Stored Definition
    # @param project_id [String] 
    # @param definition_id [String] 
    # @param evaluate_stored_request [EvaluateStoredRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, EvaluationResult>, Integer, Hash)>] Hash<String, EvaluationResult> data, response status code and response headers
    def evaluate_stored_with_http_info(project_id, definition_id, evaluate_stored_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.evaluate_stored ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.evaluate_stored"
      end
      # verify the required parameter 'definition_id' is set
      if @api_client.config.client_side_validation && definition_id.nil?
        fail ArgumentError, "Missing the required parameter 'definition_id' when calling DefaultApi.evaluate_stored"
      end
      # verify the required parameter 'evaluate_stored_request' is set
      if @api_client.config.client_side_validation && evaluate_stored_request.nil?
        fail ArgumentError, "Missing the required parameter 'evaluate_stored_request' when calling DefaultApi.evaluate_stored"
      end
      # resource path
      local_var_path = '/projects/{projectID}/definitions/{definitionID}/evaluate'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s)).sub('{' + 'definitionID' + '}', CGI.escape(definition_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(evaluate_stored_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, EvaluationResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.evaluate_stored",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#evaluate_stored\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Customer Portal Session
    # Returns a generated link to the Paddle Customer Portal
    # @param [Hash] opts the optional parameters
    # @return [GetCustomerPortalSession200Response]
    def get_customer_portal_session(opts = {})
      data, _status_code, _headers = get_customer_portal_session_with_http_info(opts)
      data
    end

    # Get Customer Portal Session
    # Returns a generated link to the Paddle Customer Portal
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCustomerPortalSession200Response, Integer, Hash)>] GetCustomerPortalSession200Response data, response status code and response headers
    def get_customer_portal_session_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_customer_portal_session ...'
      end
      # resource path
      local_var_path = '/subscription/portal-session'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCustomerPortalSession200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_customer_portal_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_customer_portal_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Definition
    # @param project_id [String] 
    # @param definition_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Definition]
    def get_definition(project_id, definition_id, opts = {})
      data, _status_code, _headers = get_definition_with_http_info(project_id, definition_id, opts)
      data
    end

    # Get Definition
    # @param project_id [String] 
    # @param definition_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Definition, Integer, Hash)>] Definition data, response status code and response headers
    def get_definition_with_http_info(project_id, definition_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_definition ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_definition"
      end
      # verify the required parameter 'definition_id' is set
      if @api_client.config.client_side_validation && definition_id.nil?
        fail ArgumentError, "Missing the required parameter 'definition_id' when calling DefaultApi.get_definition"
      end
      # resource path
      local_var_path = '/projects/{projectID}/definitions/{definitionID}'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s)).sub('{' + 'definitionID' + '}', CGI.escape(definition_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Definition'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_definition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_definition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get definition by XML definition ID
    # Get the latest version of a definition by its XML definition ID, or a specific version if provided
    # @param project_id [String] 
    # @param xml_definition_id [String] The XML definition ID from the DMN model
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :version Specific version number (defaults to latest version)
    # @return [Definition]
    def get_definition_by_xmlid(project_id, xml_definition_id, opts = {})
      data, _status_code, _headers = get_definition_by_xmlid_with_http_info(project_id, xml_definition_id, opts)
      data
    end

    # Get definition by XML definition ID
    # Get the latest version of a definition by its XML definition ID, or a specific version if provided
    # @param project_id [String] 
    # @param xml_definition_id [String] The XML definition ID from the DMN model
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :version Specific version number (defaults to latest version)
    # @return [Array<(Definition, Integer, Hash)>] Definition data, response status code and response headers
    def get_definition_by_xmlid_with_http_info(project_id, xml_definition_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_definition_by_xmlid ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_definition_by_xmlid"
      end
      # verify the required parameter 'xml_definition_id' is set
      if @api_client.config.client_side_validation && xml_definition_id.nil?
        fail ArgumentError, "Missing the required parameter 'xml_definition_id' when calling DefaultApi.get_definition_by_xmlid"
      end
      # resource path
      local_var_path = '/projects/{projectID}/definitions/by-xml-id/{xmlDefinitionID}'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s)).sub('{' + 'xmlDefinitionID' + '}', CGI.escape(xml_definition_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'version'] = opts[:'version'] if !opts[:'version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Definition'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_definition_by_xmlid",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_definition_by_xmlid\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Execution
    # @param project_id [String] 
    # @param execution_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Execution]
    def get_execution(project_id, execution_id, opts = {})
      data, _status_code, _headers = get_execution_with_http_info(project_id, execution_id, opts)
      data
    end

    # Get Execution
    # @param project_id [String] 
    # @param execution_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Execution, Integer, Hash)>] Execution data, response status code and response headers
    def get_execution_with_http_info(project_id, execution_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_execution ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_execution"
      end
      # verify the required parameter 'execution_id' is set
      if @api_client.config.client_side_validation && execution_id.nil?
        fail ArgumentError, "Missing the required parameter 'execution_id' when calling DefaultApi.get_execution"
      end
      # resource path
      local_var_path = '/projects/{projectID}/executions/{executionID}'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s)).sub('{' + 'executionID' + '}', CGI.escape(execution_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Execution'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_execution",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_execution\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Frontend Configuration
    # Returns configuration required by the frontend application (OIDC settings)
    # @param [Hash] opts the optional parameters
    # @return [FrontendConfig]
    def get_frontend_config(opts = {})
      data, _status_code, _headers = get_frontend_config_with_http_info(opts)
      data
    end

    # Get Frontend Configuration
    # Returns configuration required by the frontend application (OIDC settings)
    # @param [Hash] opts the optional parameters
    # @return [Array<(FrontendConfig, Integer, Hash)>] FrontendConfig data, response status code and response headers
    def get_frontend_config_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_frontend_config ...'
      end
      # resource path
      local_var_path = '/config'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FrontendConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_frontend_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_frontend_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Health Check
    # @param [Hash] opts the optional parameters
    # @return [GetHealth200Response]
    def get_health(opts = {})
      data, _status_code, _headers = get_health_with_http_info(opts)
      data
    end

    # Health Check
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetHealth200Response, Integer, Hash)>] GetHealth200Response data, response status code and response headers
    def get_health_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_health ...'
      end
      # resource path
      local_var_path = '/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHealth200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_health",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_health\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Quota Limits
    # @param [Hash] opts the optional parameters
    # @return [Quota]
    def get_limits(opts = {})
      data, _status_code, _headers = get_limits_with_http_info(opts)
      data
    end

    # Get Quota Limits
    # @param [Hash] opts the optional parameters
    # @return [Array<(Quota, Integer, Hash)>] Quota data, response status code and response headers
    def get_limits_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_limits ...'
      end
      # resource path
      local_var_path = '/limits'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Quota'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_limits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_limits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Overview Dashboard Data
    # Returns aggregated statistics for the overview dashboard including KPI charts and quota status.
    # @param [Hash] opts the optional parameters
    # @return [OverviewResponse]
    def get_overview(opts = {})
      data, _status_code, _headers = get_overview_with_http_info(opts)
      data
    end

    # Get Overview Dashboard Data
    # Returns aggregated statistics for the overview dashboard including KPI charts and quota status.
    # @param [Hash] opts the optional parameters
    # @return [Array<(OverviewResponse, Integer, Hash)>] OverviewResponse data, response status code and response headers
    def get_overview_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_overview ...'
      end
      # resource path
      local_var_path = '/overview'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OverviewResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_overview",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_overview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Project
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Project]
    def get_project(project_id, opts = {})
      data, _status_code, _headers = get_project_with_http_info(project_id, opts)
      data
    end

    # Get Project
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Project, Integer, Hash)>] Project data, response status code and response headers
    def get_project_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_project ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_project"
      end
      # resource path
      local_var_path = '/projects/{projectID}'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Project'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Tier
    # @param tier_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Tier]
    def get_tier(tier_id, opts = {})
      data, _status_code, _headers = get_tier_with_http_info(tier_id, opts)
      data
    end

    # Get Tier
    # @param tier_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tier, Integer, Hash)>] Tier data, response status code and response headers
    def get_tier_with_http_info(tier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_tier ...'
      end
      # verify the required parameter 'tier_id' is set
      if @api_client.config.client_side_validation && tier_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_id' when calling DefaultApi.get_tier"
      end
      # resource path
      local_var_path = '/tiers/{tierID}'.sub('{' + 'tierID' + '}', CGI.escape(tier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Tier'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get User Permissions
    # Returns the current user's global role and all project-level permissions
    # @param [Hash] opts the optional parameters
    # @return [UserPermissions]
    def get_user_permissions(opts = {})
      data, _status_code, _headers = get_user_permissions_with_http_info(opts)
      data
    end

    # Get User Permissions
    # Returns the current user&#39;s global role and all project-level permissions
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserPermissions, Integer, Hash)>] UserPermissions data, response status code and response headers
    def get_user_permissions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_user_permissions ...'
      end
      # resource path
      local_var_path = '/permissions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserPermissions'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_user_permissions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_user_permissions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Version
    # @param [Hash] opts the optional parameters
    # @return [GetVersion200Response]
    def get_version(opts = {})
      data, _status_code, _headers = get_version_with_http_info(opts)
      data
    end

    # Version
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetVersion200Response, Integer, Hash)>] GetVersion200Response data, response status code and response headers
    def get_version_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_version ...'
      end
      # resource path
      local_var_path = '/version'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetVersion200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all versions of a specific definition_id
    # @param project_id [String] 
    # @param definition_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) (default to 1)
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @return [PaginatedDefinitionsResponse]
    def list_definition_versions(project_id, definition_id, opts = {})
      data, _status_code, _headers = list_definition_versions_with_http_info(project_id, definition_id, opts)
      data
    end

    # List all versions of a specific definition_id
    # @param project_id [String] 
    # @param definition_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) (default to 1)
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @return [Array<(PaginatedDefinitionsResponse, Integer, Hash)>] PaginatedDefinitionsResponse data, response status code and response headers
    def list_definition_versions_with_http_info(project_id, definition_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_definition_versions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.list_definition_versions"
      end
      # verify the required parameter 'definition_id' is set
      if @api_client.config.client_side_validation && definition_id.nil?
        fail ArgumentError, "Missing the required parameter 'definition_id' when calling DefaultApi.list_definition_versions"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DefaultApi.list_definition_versions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DefaultApi.list_definition_versions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DefaultApi.list_definition_versions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{projectID}/definitions/by-definition-id/{definitionId}'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s)).sub('{' + 'definitionId' + '}', CGI.escape(definition_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedDefinitionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.list_definition_versions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_definition_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Definitions
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) (default to 1)
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @return [PaginatedDefinitionsResponse]
    def list_definitions(project_id, opts = {})
      data, _status_code, _headers = list_definitions_with_http_info(project_id, opts)
      data
    end

    # List Definitions
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) (default to 1)
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @return [Array<(PaginatedDefinitionsResponse, Integer, Hash)>] PaginatedDefinitionsResponse data, response status code and response headers
    def list_definitions_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_definitions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.list_definitions"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DefaultApi.list_definitions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DefaultApi.list_definitions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DefaultApi.list_definitions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{projectID}/definitions'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedDefinitionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.list_definitions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_definitions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Executions for Definition
    # @param project_id [String] 
    # @param definition_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :xml_definition_id Filter by XML Definition ID
    # @option opts [Time] :start_date Filter executions after this date (ISO 8601)
    # @option opts [Integer] :page Page number (1-indexed) (default to 1)
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @return [PaginatedExecutionsResponse]
    def list_executions(project_id, definition_id, opts = {})
      data, _status_code, _headers = list_executions_with_http_info(project_id, definition_id, opts)
      data
    end

    # List Executions for Definition
    # @param project_id [String] 
    # @param definition_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :xml_definition_id Filter by XML Definition ID
    # @option opts [Time] :start_date Filter executions after this date (ISO 8601)
    # @option opts [Integer] :page Page number (1-indexed) (default to 1)
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @return [Array<(PaginatedExecutionsResponse, Integer, Hash)>] PaginatedExecutionsResponse data, response status code and response headers
    def list_executions_with_http_info(project_id, definition_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_executions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.list_executions"
      end
      # verify the required parameter 'definition_id' is set
      if @api_client.config.client_side_validation && definition_id.nil?
        fail ArgumentError, "Missing the required parameter 'definition_id' when calling DefaultApi.list_executions"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DefaultApi.list_executions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DefaultApi.list_executions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DefaultApi.list_executions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{projectID}/definitions/{definitionID}/executions'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s)).sub('{' + 'definitionID' + '}', CGI.escape(definition_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'xmlDefinitionId'] = opts[:'xml_definition_id'] if !opts[:'xml_definition_id'].nil?
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedExecutionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.list_executions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_executions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Latest Definitions (one per definition_id)
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) (default to 1)
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @return [PaginatedDefinitionsResponse]
    def list_latest_definitions(project_id, opts = {})
      data, _status_code, _headers = list_latest_definitions_with_http_info(project_id, opts)
      data
    end

    # List Latest Definitions (one per definition_id)
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) (default to 1)
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @return [Array<(PaginatedDefinitionsResponse, Integer, Hash)>] PaginatedDefinitionsResponse data, response status code and response headers
    def list_latest_definitions_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_latest_definitions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.list_latest_definitions"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DefaultApi.list_latest_definitions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DefaultApi.list_latest_definitions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DefaultApi.list_latest_definitions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{projectID}/definitions/latest'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedDefinitionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.list_latest_definitions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_latest_definitions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List All Executions for Project
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :xml_definition_id Filter by XML Definition ID
    # @option opts [Integer] :page Page number (1-indexed) (default to 1)
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @return [PaginatedExecutionsResponse]
    def list_project_executions(project_id, opts = {})
      data, _status_code, _headers = list_project_executions_with_http_info(project_id, opts)
      data
    end

    # List All Executions for Project
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :xml_definition_id Filter by XML Definition ID
    # @option opts [Integer] :page Page number (1-indexed) (default to 1)
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @return [Array<(PaginatedExecutionsResponse, Integer, Hash)>] PaginatedExecutionsResponse data, response status code and response headers
    def list_project_executions_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_project_executions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.list_project_executions"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DefaultApi.list_project_executions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DefaultApi.list_project_executions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DefaultApi.list_project_executions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{projectID}/executions'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'xmlDefinitionId'] = opts[:'xml_definition_id'] if !opts[:'xml_definition_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedExecutionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.list_project_executions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_project_executions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Project Members
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<ProjectMember>]
    def list_project_members(project_id, opts = {})
      data, _status_code, _headers = list_project_members_with_http_info(project_id, opts)
      data
    end

    # List Project Members
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ProjectMember>, Integer, Hash)>] Array<ProjectMember> data, response status code and response headers
    def list_project_members_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_project_members ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.list_project_members"
      end
      # resource path
      local_var_path = '/projects/{projectID}/members'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProjectMember>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.list_project_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_project_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Projects
    # @param [Hash] opts the optional parameters
    # @return [Array<Project>]
    def list_projects(opts = {})
      data, _status_code, _headers = list_projects_with_http_info(opts)
      data
    end

    # List Projects
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Project>, Integer, Hash)>] Array<Project> data, response status code and response headers
    def list_projects_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_projects ...'
      end
      # resource path
      local_var_path = '/projects'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Project>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.list_projects",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_projects\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Tiers
    # @param [Hash] opts the optional parameters
    # @return [Array<Tier>]
    def list_tiers(opts = {})
      data, _status_code, _headers = list_tiers_with_http_info(opts)
      data
    end

    # List Tiers
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Tier>, Integer, Hash)>] Array<Tier> data, response status code and response headers
    def list_tiers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_tiers ...'
      end
      # resource path
      local_var_path = '/tiers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Tier>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.list_tiers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_tiers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Organization Users
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Search by email or username
    # @return [Array<OrganizationUser>]
    def list_users(opts = {})
      data, _status_code, _headers = list_users_with_http_info(opts)
      data
    end

    # List Organization Users
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Search by email or username
    # @return [Array<(Array<OrganizationUser>, Integer, Hash)>] Array<OrganizationUser> data, response status code and response headers
    def list_users_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_users ...'
      end
      # resource path
      local_var_path = '/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OrganizationUser>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.list_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove Project Member
    # @param project_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_project_member(project_id, user_id, opts = {})
      remove_project_member_with_http_info(project_id, user_id, opts)
      nil
    end

    # Remove Project Member
    # @param project_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_project_member_with_http_info(project_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.remove_project_member ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.remove_project_member"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DefaultApi.remove_project_member"
      end
      # resource path
      local_var_path = '/projects/{projectID}/members/{userID}'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s)).sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.remove_project_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#remove_project_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run Simulation on Historical Data
    # @param project_id [String] 
    # @param definition_id [String] 
    # @param simulation_request [SimulationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SimulationResponse]
    def run_simulation(project_id, definition_id, simulation_request, opts = {})
      data, _status_code, _headers = run_simulation_with_http_info(project_id, definition_id, simulation_request, opts)
      data
    end

    # Run Simulation on Historical Data
    # @param project_id [String] 
    # @param definition_id [String] 
    # @param simulation_request [SimulationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimulationResponse, Integer, Hash)>] SimulationResponse data, response status code and response headers
    def run_simulation_with_http_info(project_id, definition_id, simulation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.run_simulation ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.run_simulation"
      end
      # verify the required parameter 'definition_id' is set
      if @api_client.config.client_side_validation && definition_id.nil?
        fail ArgumentError, "Missing the required parameter 'definition_id' when calling DefaultApi.run_simulation"
      end
      # verify the required parameter 'simulation_request' is set
      if @api_client.config.client_side_validation && simulation_request.nil?
        fail ArgumentError, "Missing the required parameter 'simulation_request' when calling DefaultApi.run_simulation"
      end
      # resource path
      local_var_path = '/projects/{projectID}/definitions/{definitionID}/simulate'.sub('{' + 'projectID' + '}', CGI.escape(project_id.to_s)).sub('{' + 'definitionID' + '}', CGI.escape(definition_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(simulation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SimulationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.run_simulation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#run_simulation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Customer Settings
    # @param update_customer_settings_request [UpdateCustomerSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_customer_settings(update_customer_settings_request, opts = {})
      update_customer_settings_with_http_info(update_customer_settings_request, opts)
      nil
    end

    # Update Customer Settings
    # @param update_customer_settings_request [UpdateCustomerSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_customer_settings_with_http_info(update_customer_settings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.update_customer_settings ...'
      end
      # verify the required parameter 'update_customer_settings_request' is set
      if @api_client.config.client_side_validation && update_customer_settings_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_customer_settings_request' when calling DefaultApi.update_customer_settings"
      end
      # resource path
      local_var_path = '/settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_customer_settings_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.update_customer_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#update_customer_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Definition
    # @param project_id [String] 
    # @param definition_id [String] 
    # @param update_definition_request [UpdateDefinitionRequest] 
    # @param [Hash] opts the optional parameters
[...]
